@mixin line-demo {
  width: calc(100vw - #{$lem * 2});
  height: calc(100vh - #{$lem * 2});
  overflow: hidden;

  position: relative;

  // - this animations slows down the computer
  // - also disables the other, line animations
  //animation-name: scale-lines;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);


  .line-demo--horizontal,
  .line-demo--vertical {
    width: calc(100vw - #{$lem * 2});
    height: calc(100vh - #{$lem * 2});

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }

  .line-demo--horizontal {
    animation-name: rotate-line;

    .lines {
      @include lines(20);
    }
  }

  .line-demo--vertical {
    z-index: 2;
    animation-name: skew-line;

    .lines {
      @include lines(30, vertical);
    }
  }
}

@include keyframes(scale-lines) {
  from {
    transform: scale(.5) rotate(360deg);
  }

  to {
    transform: scale(1) rotate(0deg);
  }
}


@include keyframes(skew-line) {
  from {
    transform: skew(-5deg);
  }

  to {
    transform: skew(5deg);
  }
}

@include keyframes(rotate-line) {
  from {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(5deg);
  }
}
