@mixin fuzzy-text-demo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  .fuzzy-text {
    max-width: 12.5em;

    @include text-style(name);
    @include scale(large-4);

    @include fuzzy-text;
  }
}
