@mixin line {
  display: flex;

  &__border {
    @include border;

    animation-name: line-draw;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
    animation-fill-mode: forwards;
  }
}

@include keyframes(line-draw) {
  from {
    flex-basis: 0%;
  }

  to {
    flex-basis: 100%;
  }
}
