// A responsive marquee
//
// Based on http://jsfiddle.net/jonathansampson/xxuxd/
// Uses 'text-indent' because 'transform: translateX' is simply doesn't work in this case
//
// $size - the width of the marquee window, preferably in 'vw' not in 'em' or 'px'
// $length - the length of the text in chars
// $scale - the size of the font
// $letter-spacing - the letter spacing
//
// Styleguide marquee
@mixin marquee($size, $length, $scale: 1em, $letter-spacing: 0.01em) {
  width: $size;

  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;

  &:hover {
    animation-play-state: paused;
  }

  // - calculating 'to' for the keyframe
  $text_size_em: ($length * ($scale + $letter-spacing));
  $size_to_fullsize_ratio: 100 / $size;

  @include mobile {
    @debug(mobile 'to': -$text_size_em / 22 * $size_to_fullsize_ratio * 100);
    animation: marquee-mobile 15s linear infinite;
  }

  @include tablet {
    // this will suggest a value to be added to 'to' in the keyframe
    @debug(tablet 'to': -$text_size_em / 48 * $size_to_fullsize_ratio * 100);
    // - duration set manually after the marquee is checked visually
    animation: marquee-tablet 15s linear infinite;
  }

  @include laptop {
    @debug(laptop 'to': -$text_size_em / 80 * $size_to_fullsize_ratio * 100);
    animation: marquee-laptop 15s linear infinite;
  }

  @include desktop {
    @debug(desktop 'to': -$text_size_em / 100 * $size_to_fullsize_ratio * 100);
    animation: marquee-desktop 15s linear infinite;
  }
}

@include keyframes(marquee-mobile) {
  from  {
    text-indent: 100%;
  }

  to {
    text-indent: -550%;
  }
}


@include keyframes(marquee-tablet) {
  from  {
    text-indent: 100%;
  }

  to {
    text-indent: -250%;
  }
}

@include keyframes(marquee-laptop) {
  from  {
    text-indent: 100%;
  }

  to {
    text-indent: -150%;
  }
}

@include keyframes(marquee-desktop) {
  from  {
    text-indent: 120%;
  }

  to {
    text-indent: -115%;
  }
}
