@mixin marquee-demo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  .marquee {
    @include text-style(name);
    @include scale(large-6);

    @include marquee(100vw, 69, $large-6, $lem / 4);
    //@include marquee(100vw, 69);
  }
}
