// A responsive marquee
//
// Based on http://jsfiddle.net/jonathansampson/xxuxd/
//
// $width - the width of the maruqee window
// $length - the length of the text in chars
// $font-size - the size of the font
// $letter-spacing - the letter spacing
//
// Styleguide marquee
@mixin marquee {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  $size: 100vw;

  &__text {
    width: $size;

    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;

    @include text-style(name);
    @include scale(large-3);

    // - duration set usually together with the value 'to' from the animation
    animation: marquee 20s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }
}

@include keyframes(marquee) {
  from  {
    // this must be $size
    text-indent: 100vw;
  }

  to {
    // This must be manually adjusted based on tests
    // - it depends on text length, font-size, and animation duration
    text-indent: -400vw;
  }
}
